<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      You have submitted an expense report
    </p>
    <p>Thanks for submitting and have a great day!</p>
  </body>
</html>