<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      An Expense Report has been submitted by <%= @expense.name %> for <%= @expense.description%> in the amount of <%= @expense.cost %>.
    </p>
  </body>
</html>